.picWrap{
    object-fit: cover;
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid;
}

.picture{
    /* width: 110px; */
    width: 100% ;
    object-fit: cover;
    height: 100%;
    /* height: 110px; */

}

.editIcon{
    right: 0;
    bottom: 5px;

}