.postMenu {
  color: black;
  padding:10px;
  border: 3px solid white;
  border-radius: 15px;
}

.option {
  box-shadow: 1px 1px 8px 1px black;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  padding: 10px;
  background-color: white;
  margin: 5px 0;
  border-bottom: 1px solid;
}

.option:hover{
  background-color: rgb(211, 209, 209);
}
