.option {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.option svg {
  fill: green;
}

.message {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
  text-align: center;
  color: black;
  border-radius: 15px;
  background-color: #ff9966;
  padding: 20px;
}

.showLocationContainer {
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 15px;
  margin-left: 2px;
}

.select {
  /* Your styles here */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  background-color: #343a40;
  color: white;
  font-size: 16px;
}

.select:active {
  outline: none;
}
